node_modules
dist
.DS_Store
*.local
.vite
.env
.env.local

.env.*
!.env.example
.env.docker
# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/node_modules
backend/.env
backend/backups/

# Documentation
docs/